<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Daily FotoKopi</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  
  
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="">
            <span>
              Daily FotoKopi
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <% if(islogin === true){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                <%}
                else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="about_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    About Us
                  </h2>
                  <img src="images/plug.png" alt="">
                </div>
                <p>
                    Ya jadi website ini digunakan untuk membantu fotocopy-fotocop
                     yang ada di Bandung, terutama yang berlokasi di dekat kampus 
                    atau kantoran agar sistem kerja mereka dapat lebih efektif 
                    dan efisien. Fotocopy yang kami bantu ini juga menawarkan 
                    berbagai produk lengkap yang dapat membantu konsumen untuk 
                    memenuhi kebutuhannya.
                </p>
                <a href="">
                  FAQ
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img_container">
                <div class="img-box b1">
                  <img src="images/about1.png" alt="" />
                </div>
                <div class="img-box b2">
                  <img src="images/about2.png" alt="" />
                </div>
              </div>
    
            </div>
    
          </div>
        </div>
      </section>
    <!-- end slider section -->
     <!-- slider section -->
     <section class="about_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="">
                <div class="heading_container">
                  <h2>
                    FAQ
                  </h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p> 
                                <div class="width">
                                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="width: 100%;"> 
                                        Kenapa Dailyfotocopy.com?
                                    </button>
                                </div>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    Dailyfotocopy.com merupakan website 
                                    yang membantu berbagai lokasi fotocopy di 
                                    Bandung.
                                    <br>
                                    Dailyfotocopy.com hadir dengan memberikan beberapa 
                                    rekomendasi tempat fotocopy di Bandung yang akan 
                                    memberikan kemudahan bagi setiap customer untuk 
                                    memenuhi kebutuhan mereka melalui web store Dailyfotocopy.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                <div class="width">
                                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" style="width: 100%;"> 
                                        Bagaimana cara melakukan pembelian / pemesanan barang?
                                    </button>
                                </div>
                            </p>
                            <div class="collapse" id="collapseExample2">
                                <div class="card card-body">
                                    Kami mensupport 2 jenis transaksi belanja, yaitu: <br>
                                    Direct Customer : Customer datang langsung ke lokasi 
                                    fotocopy untuk membeli barang. <br>
                                    Online Shopping: Customer membeli dari 
                                    web store Dailyfotocopy.com dan melakukan pembayaran online. 
                                    Cara pesan / beli barang bisa Anda lihat secara lengkap pada link berikut : 
                                    Cara Belanja Online di Dailyfotocopy (https://www.plazakamera.com/cara-belanja/) contoh 
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                <div class="width">
                                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample" style="width: 100%;"> 
                                        Apakah harus Login/Sign Up untuk bertransaksi di Dailyfotocopy.com?
                                    </button>
                                </div>
                            </p>
                            <div class="collapse" id="collapseExample3">
                                <div class="card card-body">
                                    Ya, Anda harus Login/Sign Up dan bisa diakses di ujung kanan atas. 
                                    Dengan mendaftar dan membuat akun, transaksi-transaksi berikutnya jadi 
                                    lebih mudah tanpa harus registrasi dan mengisi data dari awal lagi. 
                                    Data seperti kontak, alamat, dan record pembelian akan tersimpan di akun Anda masing-masing.                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                <div class="width">
                                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample" style="width: 100%;"> 
                                        Apakah setiap lokasi fotocopy yang tersedia di website memiliki fasilitas yang sama?
                                    </button>
                                </div>
                            </p>
                            <div class="collapse" id="collapseExample4">
                                <div class="card card-body">
                                    Dari setiap lokasi fotocopy memiliki penawaran fasilitas yang berbeda sesuai 
                                    dengan kebutuhan customer yang diinginkan. Tapi kami dapat menjamin bahwa 
                                    setiap lokasi yang kami tawarkan memiliki fasilitas yang lengkap dan terjamin kualitasnya.                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                <div class="width">
                                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample" style="width: 100%;"> 
                                        Bagaimana cara menghubungi perusahaan jika pertanyaan saya tidak terjawab di sini? 
                                    </button>
                                </div>
                            </p>
                            <div class="collapse" id="collapseExample5">
                                <div class="card card-body">
                                    Kalian bisa kirimkan pertanyaan kalian ke IG official dari Dailyfotocopy.com melalui DM dan akan kami jawab secepat mungkin                              
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                <div class="width">
                                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample" style="width: 100%;"> 
                                        Bisakah saya menerima pengembalian uang?
                                    </button>
                                </div>
                            </p>
                            <div class="collapse" id="collapseExample6">
                                <div class="card card-body">
                                    Maaf untuk pengembalian uang tidak dapat dilakukan karena akan mempengaruhi keuntungan dan profit dari pebisnis fotocopy mitra kami yang lain                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
              
            </div>
    
          </div>
        </div>
      </section>
    <!-- end slider section -->
  </div>


  <script src="javascripts/jquery-3.4.1.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>

</body>

</html>